

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans|Crete+Round|Francois+One|Hammersmith+One|Patua+One|Playfair+Display|Rokkitt|Slabo+27px|Indie+Flower|Noticia+Text|Open+Sans);

$base-color:#45BF55;
$grey:#e4e4e4;
$red: #8C0000;